:root{
  --Soft_blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --Very_dark_blue_MBG: hsl(217, 54%, 11%);
  --Very_dark_blue_CBG: hsl(216, 50%, 16%);
  --Very_dark_blue_L: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
  --name_and_stats_Font_size : 16px;
}
html,body{
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  height: 100vh;
  display: block;
}
body{
  background: var(--Very_dark_blue_MBG);
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  
}

.button-container{
  margin: 30px;
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.button{
  width: 300px;
  border-radius: 8px;
  border:2px solid currentColor;
  font-size: var(--name_and_stats_Font_size);
  font-weight: 600;
  color: white;
  background-color: purple
}


.button:disabled{
  opacity: 0.5;
}





.NFT-card{
  border-radius: 8px;
  position: relative;
  width: 86%;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 27px;
  background-color: var(--Very_dark_blue_CBG);
  box-shadow: 0px 25px 3px 10px #0c1729,0px 25px 3px 40px #0c192c;
}
.NFT-card-top{
  height: 280px;
  position: relative;
  display: flex;
  justify-content: center;
}
.NFT-card-top img{
  border-radius: 8PX;
  position: relative;
  bottom: -25px;
}
.NFT-card-top-active{
  opacity: 0;
  background-color: var(--cyan);
  height: 280px;
  width: 280px;
  border-radius: 8px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -25px;
}

.NFT-card-top-active:hover {
  opacity: 0.7;
}
.NFT-card-bottom{
  width: 285px;
  margin: 0 auto;
}
  
.NFT-card-bottom_description-NFTgeneral p:nth-child(1){
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 22px;
  font-weight: 600;
  color: var(--White);
}
.NFT-card-bottom_description-NFTgeneral p:nth-child(1):hover{
  color: var(--cyan);
}
.NFT-card-bottom_description-NFTgeneral p:nth-child(2){
  font-size: var(--name_and_stats_Font_size);
  font-weight: 300;
  color: var(--Soft_blue);
  margin-bottom: 5px;
}
.NFT-card-bottom_description-NFTgeneral p:nth-child(3){
  font-size: var(--name_and_stats_Font_size);
  font-weight: 300;
  color: var(--Soft_blue);
  margin-top: 0;
}
.NFT-card-bottom_description-NFTespecific{
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--Very_dark_blue_L);
  position: relative;
}
.NFT-card-bottom_description-NFTespecific-etherium span{
  font-weight:400;
  color: var(--cyan);
  font-size: var(--name_and_stats_Font_size);
  text-align: end;
  position: relative;
  margin: 0px 0px 0px 5px ;
  bottom: 3px;
}
.NFT-card-bottom_description-NFTespecific-time span{
  font-weight:300;
  color: var(--Soft_blue);
  font-size: var(--name_and_stats_Font_size);
  text-align: end;
  position: relative;
  margin: 0px 0px 0px 5px ;
  bottom: 3px;
}
.NFT-card-bottom_description-NFTautor{
  height: 35px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin: 20px 0 0 0;
  padding-bottom: 20px;
}
.NFT-card-bottom_description-NFTautor img{
  border-radius: 50%;
  border: 1px solid white;
}
.NFT-card-bottom_description-NFTautor p{
  font-size: var(--name_and_stats_Font_size);
  font-weight: 300;
  color: var(--Soft_blue);
  margin: auto 15px;
}
.NFT-card-bottom_description-NFTautor span{
  color: var(--White);
  margin-left: 5px;
}
.NFT-card-bottom_description-NFTautor span:hover{
  color: var(--cyan);
}
/*html {
    --color-white: hsl(0, 0%, 100%);
    --color-cyan: hsl(178, 100%, 50%);
  
    --color-blue-100: hsl(215, 51%, 70%);
    --color-blue-400: hsl(215, 32%, 27%);
    --color-blue-600: hsl(216, 50%, 16%);
    --color-blue-800: hsl(217, 54%, 11%);
    font-size: 18px;
}

body {
    height: 100vh;
    font-family: "Outfit", sans-serif;
    background-color: var(--color-blue-800);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.button-container{
    margin-top: 20px;
    height: 36px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.button{
    width: 100px;
    border-radius: 5px;
    border:1px solid black;
    color: var(--White);
    background-color:var(--Very-dark-blackish-blue);
    cursor: pointer;
}
.button:hover{
    color:var(--Very-dark-blackish-blue);
    background-color: var(--White);
}
.button:disabled{
    opacity: 0.5;
}

  p {
    color: var(--color-blue-100);
  }
  
  hr {
    color: var(--color-blue-400);
  }
  
  #card {
    background-color: var(--color-blue-600);
    border-radius: 1rem;
    width: 20rem;
    box-shadow: 0 18px 32px rgba(0, 0, 0, 0.3);
  }
  
  #card a {
    text-decoration: none;
  }
  
  #content {
    padding: 1.5rem;
  }
  
  #hero {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
  }
  
  #hero img {
    opacity: 1;
    display: block;
    width: 100%;
    transition: 0.8s ease-out;
    object-fit: cover;
  }
  
  #hero svg {
    transition: 0.3s ease-out;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #hero:hover {
    cursor: pointer;
    background-color: var(--color-cyan);
  }
  
  #hero:hover img {
    opacity: 0.4;
  }
  
  #hero:hover svg {
    opacity: 1;
  }
  
  #description h1 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  #description h1 a {
    color: var(--color-white);
  }

  #description a:hover{
    color: hsl(178, 100%, 50%);
  }
  
  #detail-item {
    display: flex;
    justify-content: space-between;
  }
  
  #price {
    font-weight: bold;
    color: var(--color-cyan);
  }
  
  #creator {
    display: flex;
    height: 2rem;
    align-items: center;
    margin-top: 1.1rem;
  }
  
  #creator img {
    border: 0.1rem solid var(--color-white);
    border-radius: 100%;
    height: 100%;
  }
  
  #creator p {
    margin: 0 1rem;
  }
  
  #creator a {
    color: var(--color-white);
  }

  #creator a:hover{
    color: hsl(178, 100%, 50%);
  }
  
  .items {
    display: flex;
    align-items: center;
    margin: 0.7rem 0;
  }
  
  .items p {
    margin: 0 0.5rem;
  }
  
  .attribution {
    margin: 2rem;
  }
  
  @media (max-width: 375px) {
    #card {
      width: 15rem;
    }
  
    #description h1 {
      font-size: 1rem;
    }
  
    p {
      font-size: 0.7rem;
    }
  }*/